.rightelems{
  float: right;
}

.navbar11 {
  overflow: hidden;
  background-color: #252629;
}

.navbar11 a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.navbar11 a:hover{
  background-color: #0060c3;
}


header {
  width: 95%;
  position: absolute;
  height: 85px;
  background: #282923;
  overflow-x: hidden;
}

header a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 11px;
  font-family: 'montserrat';

}

header .namel {
  float: left;
  text-decoration: none;
  margin-left: 65px;
  padding: 18px;
    color: #fff;
    top: 50%;
    position: relative;
    transform: translateY(3px);
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 800;
    letter-spacing: 2px;
  }

.navbar1 {
  
  position: fixed;
  top: 0;
  width: 100%;
  height: 65px;
  //position: fixed;
  overflow: hidden;
}
header ul {
  list-style: none;
  text-align: right;
  //position: relative;
}

header ul li {
  display: inline-block;
  padding-left: 15px;
  padding-right: 34px;
  padding-top: 10px;
  padding-bottom: 0px;
  margin-top: 0px;
  color: #fff;
}

header ul li::after {
  content: '';
  position: relative;
  background: #fff;
  height: 1px;
  top: 5px;
  display: block;
  transition: all ease-in-out 250ms;
  width: 0%;

}

header ul li:hover::after {
  width: 100%;
}
